In [1]:
import pandas as pd

In [2]:
!ls

16eofinextract990.dat 16eofinextractez.dat  2016_MROs.ipynb

In [4]:
df = pd.read_csv('16eofinextract990.dat', sep=' ')
df.head()

,elf,EIN,tax_pd,subseccd,s501c3or4947a1cd,schdbind,politicalactvtscd,lbbyingactvtscd,subjto6033cd,dnradvisedfundscd,...,exceeds1pct509,subtotpub509,pubsupplesub509,samepubsuppsubtot509,grsinc509,unreltxincls511tx509,subtotsuppinc509,netincunrelatd509,othrinc509,totsupp509
0,Y,382032501,201506,3,Y,N,N,N,N,N,...,0,0,1755907,1755907,2,0,2,0,228,1756137
1,Y,263010938,201412,3,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
2,Y,942746487,201506,3,Y,Y,N,N,N,N,...,483736,1253627,12678334,13931961,7673,0,7673,0,48581,13988215
3,Y,112889774,201506,3,Y,Y,N,N,N,N,...,0,0,161158693,161158693,478028,0,478028,0,57768,161694489
4,Y,263416084,201506,3,Y,Y,N,N,N,N,...,0,0,881513,881513,0,0,0,0,0,881513

In [6]:
df.nonpfrea.value_counts()

7     99831
9     85654
0     77668
2     15530
12     9027
3      4030
1      3788
13     2812
14     2618
15     2111
6      1608
8      1534
4       571
5       354
11      346
10        1
Name: nonpfrea, dtype: int64

In [7]:
mros = df[df['nonpfrea'] == 5]

In [8]:
mros.head()

,elf,EIN,tax_pd,subseccd,s501c3or4947a1cd,schdbind,politicalactvtscd,lbbyingactvtscd,subjto6033cd,dnradvisedfundscd,...,exceeds1pct509,subtotpub509,pubsupplesub509,samepubsuppsubtot509,grsinc509,unreltxincls511tx509,subtotsuppinc509,netincunrelatd509,othrinc509,totsupp509
2716,Y,205582784,201609,3,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3975,Y,742623309,201608,3,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
5073,Y,450274828,201606,3,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
5887,Y,651026739,201606,3,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
8471,Y,954815593,201512,3,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0